<a href="https://colab.research.google.com/github/bonillaharry/progr-III-2023/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCIONES DE USUARIO
.Convertir grados celsius a farenheit.

In [ ]:
def convertir(f):
  return 32 + c*9/5

In [ ]:
c = float(input("celsius:"))
print("f:",convertir_cf(c))

**EJERCICIOS**
*Convertir de farenheit a Celsius
*convertir de [Celsius,Farenheit] a Kelvin

In [ ]:
def convertir(r):
  return (r-32)*5/9
  =function que se encarga de convertir

In [ ]:
from IPython.core.displayhook import Float
k = Float(input)

calcular el sueldo mensual de un empleado

In [ ]:
tabla_isr = [
    [0.01, 472.0, 0, 0],
    [472.01, 895.24,0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  for tramo in tabla_isr:
  if sueldo>tramo[0] and sueldo<=tramo[1]:
    impsr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
    return impsr

In [ ]:
valorxhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("horas trabajadas") )
s = sueldo(numHrs, valorxhr)
isr = calcularIsr(s, s*0.9075)
print("sueldo", s, "ISR", isr, s*0.9075-isr)

LISTAS

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print(list(f) )

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda  n:n%2==0, data)
print(list  (pares) )

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

ciclos  
.FOR

In [ ]:
for item in  data:
  print(item)

. WHILE

In [ ]:
i=0
n= len(data)
while i<n:
  print(data [i] )
  i+=1

TABLA DE MULTIPLICAR

In [ ]:
n = int(input("N    tabla:" ))

for i in range(1,12):
  print(n, "x", i, "=", n*i )

N    tabla:12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132

In [ ]:
n = int(input("N       tabla:" ) )

for i in range(1,12):
  print(n, "x", i, "=", n*i )

N       tabla:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

In [ ]:
n = int(input("N       tabla:" ) )

for i in range(1,12):
  print(n, "x", i, "=", n*i )

N       tabla:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99

***Escribir un programa que pide nota de examen (0-10), e imprima por
pantalla la calificacion en formato: "suspenso" si la nota es menor a s,
"aprobado" si es entre 5 y 7 inclusive, y 7  sin incluir, "Notable" si estra entre 7 inclusive y 9 sin incluir, "sobresaliente" si esta entre 9 inclusive y 10 sin incluir, "honorable" si es 10

In [ ]:
def calcular_calificacion(nota):
    if nota < 5:
        return "valio pija XD"
    elif nota >= 5 and nota < 7:
        return "aprobado"
    elif nota >= 7 and nota < 9:
        return "Notable"
    elif nota >= 9 and nota < 10:
        return "sobresaliente"
    else:
        return "honorable"

try:
    nota = float(input("Ingrese la nota del examen (0-10): "))
    if 0 <= nota <= 10:
        calificacion = calcular_calificacion(nota)
        print(f"La calificación es: {calificacion}")
    else:
        print("La nota ingresada está fuera del rango válido (0-10).")
except ValueError:
    print("Por favor, ingrese una nota válida.")

Ingrese la nota del examen (0-10): 1
La calificación es: valio pija XD

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif (nota<5):
  print("suspenso")
elif(nota<7):
  print("aprobado")
elif(nota<9):
  print("Notable")
elif(nota<10):
  print("SOBRESALIENTE")
else:
    print("HONORABLE")

Nota: 7
Notable

Escribe un programa que muestre la secuencia fitbonacci

In [ ]:
def fibonacci_table(n):
    fib_table = [0, 1]  # Los primeros dos términos de Fibonacci
    for i in range(2, n):
        next_fib = fib_table[i - 1] + fib_table[i - 2]
        fib_table.append(next_fib)

    print("Tabla de Fibonacci:")
    for i, fib in enumerate(fib_table):
        print(f"Término {i}: {fib}")

# Cambia el valor de 'numero_de_terminos' según cuántos términos de Fibonacci quieras mostrar
numero_de_terminos = 10
fibonacci_table(numero_de_terminos)

Tabla de Fibonacci:
Término 0: 0
Término 1: 1
Término 2: 1
Término 3: 2
Término 4: 3
Término 5: 5
Término 6: 8
Término 7: 13
Término 8: 21
Término 9: 34

In [ ]:
limit = int(input("Limit: "))
a = 0
b = 1
c = 0
while c < limit:
    c = a + b
    print(a, "+", b, "=", c)
    a = b
    b = c

Limit: 10
0 + 1 = 1
1 + 1 = 2
1 + 2 = 3
2 + 3 = 5
3 + 5 = 8
5 + 8 = 13

In [ ]:
nota= float(input("ingrse su nota entre 0 a 10:"))
if nota <0:
print("Nota invalida")
elif nota < 5:
print("usted ha suspendido")
elif nota >=5 and nota <7:
  print("usted ha aprobado")
  elif nota >=7 and nota <9:
    print("Usted es notable")
    elif nota >=9 and nota <10:
    print("Usted es sobre saliente")
    elif nota==10:
  print("Usted es honorable")
  else:
  print("Nota invalida")

In [ ]:
limit = int(input("limit:"))
a = 0
b = 1
c = 0
while c<limit:
  c = a+b
  print(a,"+",b,"=",c)

In [ ]:
def convert_currency(amount, from_currency, to_currency):
    exchange_rates = {
        "USD": 1.0,
        "EUR": 0.85,
        "GBP": 0.72,
        "JPY": 110.0,
        # Agrega más tasas de cambio según tus necesidades
    }

    if from_currency in exchange_rates and to_currency in exchange_rates:
        converted_amount = amount * (exchange_rates[to_currency] / exchange_rates[from_currency])
        return converted_amount
    else:
        return None

amount_to_convert = 100  # Cambia esto a la cantidad que quieras convertir
from_currency = "USD"    # Cambia esto a la moneda de origen (puede ser "USD", "EUR", etc.)
to_currency = "EUR"      # Cambia esto a la moneda objetivo (puede ser "USD", "EUR", etc.)

converted_amount = convert_currency(amount_to_convert, from_currency, to_currency)

if converted_amount is not None:
    print(f"{amount_to_convert} {from_currency} equivale a {converted_amount:.2f} {to_currency}")
else:
    print(f"No se pudo realizar la conversión.")

100 USD equivale a 85.00 EUR

In [ ]:
def convert_length(length, from_unit, to_unit):
    conversion_factors = {
        "mm": 0.1,
        "cm": 1,
        "m": 100,
        "km": 100000,
        "in": 2.54,
        "ft": 30.48,
        "yd": 91.44,
        "mi": 160934.4
    }
    return length * conversion_factors[to_unit] / conversion_factors[from_unit]

length_to_convert = 100
from_unit = "cm"
to_unit = "m"

converted_length = convert_length(length_to_convert, from_unit, to_unit)
print(f"{length_to_convert} {from_unit} equivale a {converted_length:.2f} {to_unit}")

100 cm equivale a 10000.00 m

In [ ]:
def convert_mass(mass, from_unit, to_unit):
    conversion_factors = {
        "mg": 1000,
        "g": 1,
        "kg": 0.001,
        "lb": 0.00220462,
        "oz": 0.03527396
    }
    return mass * conversion_factors[to_unit] / conversion_factors[from_unit]

mass_to_convert = 100
from_unit = "g"
to_unit = "kg"

converted_mass = convert_mass(mass_to_convert, from_unit, to_unit)
print(f"{mass_to_convert} {from_unit} equivale a {converted_mass:.2f} {to_unit}")

100 g equivale a 0.10 kg

In [ ]:
def convert_storage(size, from_unit, to_unit):
    conversion_factors = {
        "B": 1,
        "KB": 1e-3,
        "MB": 1e-6,
        "GB": 1e-9,
        "TB": 1e-12,
        "PB": 1e-15
    }
    return size * conversion_factors[to_unit] / conversion_factors[from_unit]

size_to_convert = 1024
from_unit = "MB"
to_unit = "GB"

converted_size = convert_storage(size_to_convert, from_unit, to_unit)
print(f"{size_to_convert} {from_unit} equivale a {converted_size:.2f} {to_unit}")

1024 MB equivale a 1.02 GB

In [ ]:
def convert_time(time, from_unit, to_unit):
    conversion_factors = {
        "seconds": 1,
        "minutes": 1/60,
        "hours": 1/3600,
        "days": 1/86400
    }
    return time * conversion_factors[to_unit] / conversion_factors[from_unit]

time_to_convert = 3600
from_unit = "seconds"
to_unit = "hours"

converted_time = convert_time(time_to_convert, from_unit, to_unit)
print(f"{time_to_convert} {from_unit} equivale a {converted_time:.2f} {to_unit}")

In [ ]:
def convert_volume(volume, from_unit, to_unit):
    conversion_factors = {
        "ml": 1,
        "cl": 0.1,
        "dl": 0.01,
        "l": 0.001,
        "cubic_m": 1e-6,
        "cubic_ft": 3.5315e-5,
        "cubic_yd": 1.30795e-6
    }
    return volume * conversion_factors[to_unit] / conversion_factors[from_unit]

volume_to_convert = 1000
from_unit = "ml"
to_unit = "l"

converted_volume = convert_volume(volume_to_convert, from_unit, to_unit)
print(f"{volume_to_convert} {from_unit} equivale a {converted_volume:.2f} {to_unit}")

1000 ml equivale a 1.00 l

In [ ]:
def convert_area(area, from_unit, to_unit):
    conversion_factors = {
        "sq_mm": 1,
        "sq_cm": 0.01,
        "sq_m": 1e-6,
        "sq_km": 1e-12,
        "sq_in": 0.0015500031,
        "sq_ft": 1.0763910417e-5,
        "sq_yd": 1.1959900463e-6,
        "acres": 2.4710538147e-10,
        "sq_mi": 3.861e-13
    }
    return area * conversion_factors[to_unit] / conversion_factors[from_unit]

area_to_convert = 10000
from_unit = "sq_m"
to_unit = "sq_ft"

converted_area = convert_area(area_to_convert, from_unit, to_unit)
print(f"{area_to_convert} {from_unit} equivale a {converted_area:.2f} {to_unit}")

In [ ]:
def convert_apples(apples, from_unit, to_unit):
    conversion_factors = {
        "hectares": 0.0252928528,  # Un valor aproximado para la conversión
        "acres": 0.0625  # Un valor aproximado para la conversión
    }
    return apples * conversion_factors[to_unit] / conversion_factors[from_unit]

apples_to_convert = 10
from_unit = "hectares"
to_unit = "acres"

converted_apples = convert_apples(apples_to_convert, from_unit, to_unit)
print(f"{apples_to_convert} manzanas equivale a {converted_apples:.2f} {to_unit}")

10 manzanas equivale a 24.71 acres

In [ ]:
def convert_currency(amount, from_currency, to_currency):
    exchange_rates = {
        'USD': 1.0,
        'EUR': 0.85,
        'GBP': 0.73,
        'JPY': 110.29
        # Agrega más tasas de cambio según sea necesario
    }

    if from_currency in exchange_rates and to_currency in exchange_rates:
        converted_amount = amount * exchange_rates[to_currency] / exchange_rates[from_currency]
        return converted_amount
    else:
        return None

# Solicitar al usuario ingresar los detalles de la conversión
amount = float(input("Ingresa el monto a convertir: "))
from_currency = input("Ingresa la moneda de origen (USD, EUR, GBP, JPY, etc.): ").upper()
to_currency = input("Ingresa la moneda de destino (USD, EUR, GBP, JPY, etc.): ").upper()

# Realizar la conversión
converted_amount = convert_currency(amount, from_currency, to_currency)

if converted_amount is not None:
    print(f"{amount} {from_currency} equivale a {converted_amount:.2f} {to_currency}")
else:
    print("Monedas no soportadas. Por favor, asegúrate de ingresar monedas válidas.")

In [ ]:
def convert_length(length, from_unit, to_unit):
    conversion_factors = {
        'meters': 1.0,
        'feet': 3.28084,
        'yards': 1.09361,
        'inches': 39.3701,
        # Agrega más factores de conversión según sea necesario
    }

    if from_unit in conversion_factors and to_unit in conversion_factors:
        converted_length = length * conversion_factors[to_unit] / conversion_factors[from_unit]
        return converted_length
    else:
        return None

# Solicitar al usuario ingresar los detalles de la conversión
length = float(input("Ingresa la longitud a convertir: "))
from_unit = input("Ingresa la unidad de origen (meters, feet, yards, inches, etc.): ").lower()
to_unit = input("Ingresa la unidad de destino (meters, feet, yards, inches, etc.): ").lower()

# Realizar la conversión
converted_length = convert_length(length, from_unit, to_unit)

if converted_length is not None:
    print(f"{length} {from_unit} equivale a {converted_length:.2f} {to_unit}")
else:
    print("Unidades no soportadas. Por favor, asegúrate de ingresar unidades válidas.")

In [ ]:
# Función para convertir pies cuadrados a otras unidades de área
def convertir_pies_cuadrados(pies_cuadrados, unidad_destino):
    metros_cuadrados = pies_cuadrados * 0.092903
    pulgadas_cuadradas = pies_cuadrados * 144
    acres = pies_cuadrados * 0.00002296
    centimetros_cuadrados = pies_cuadrados * 929.0304

    if unidad_destino == "metros cuadrados":
        return metros_cuadrados
    elif unidad_destino == "pulgadas cuadradas":
        return pulgadas_cuadradas
    elif unidad_destino == "acres":
        return acres
    elif unidad_destino == "centímetros cuadrados":
        return centimetros_cuadrados
    else:
        return "Unidad de destino no válida"

# Ingreso de pies cuadrados y unidad de destino
pies_cuadrados = float(input("Ingresa la cantidad de pies cuadrados: "))
unidad_destino = input("Ingresa la unidad de destino (metros cuadrados, pulgadas cuadradas, acres, centímetros cuadrados): ")

# Llamada a la función de conversión
resultado = convertir_pies_cuadrados(pies_cuadrados, unidad_destino)

# Mostrar resultado
print(f"{pies_cuadrados} pies cuadrados son aproximadamente {resultado} {unidad_destino}")

In [ ]:
# Función para convertir varas cuadradas a otras unidades de área
def convertir_varas_cuadradas(varas_cuadradas, unidad_destino):
    # 1 vara cuadrada (vara²) = 0.698778 metros cuadrados (m²)
    # 1 vara cuadrada (vara²) = 1296 pulgadas cuadradas (in²)
    # 1 vara cuadrada (vara²) = 0.0001728 acres
    # 1 vara cuadrada (vara²) = 6987.78 centímetros cuadrados (cm²)

    metros_cuadrados = varas_cuadradas * 0.698778
    pulgadas_cuadradas = varas_cuadradas * 1296
    acres = varas_cuadradas * 0.0001728
    centimetros_cuadrados = varas_cuadradas * 6987.78

    if unidad_destino == "metros cuadrados":
        return metros_cuadrados
    elif unidad_destino == "pulgadas cuadradas":
        return pulgadas_cuadradas
    elif unidad_destino == "acres":
        return acres
    elif unidad_destino == "centímetros cuadrados":
        return centimetros_cuadrados
    else:
        return "Unidad de destino no válida"

# Ingreso de varas cuadradas y unidad de destino
varas_cuadradas = float(input("Ingresa la cantidad de varas cuadradas: "))
unidad_destino = input("Ingresa la unidad de destino (metros cuadrados, pulgadas cuadradas, acres, centímetros cuadrados): ")

# Llamada a la función de conversión
resultado = convertir_varas_cuadradas(varas_cuadradas

In [ ]:
# Función para convertir yardas cuadradas a otras unidades de área
def convertir_yardas_cuadradas(yardas_cuadradas, unidad_destino):
    # 1 yarda cuadrada (yarda²) = 0.83612736 metros cuadrados (m²)
    # 1 yarda cuadrada (yarda²) = 1296 pulgadas cuadradas (in²)
    # 1 yarda cuadrada (yarda²) = 0.00020661157 acres
    # 1 yarda cuadrada (yarda²) = 8361.2736 centímetros cuadrados (cm²)

    metros_cuadrados = yardas_cuadradas * 0.83612736
    pulgadas_cuadradas = yardas_cuadradas * 1296
    acres = yardas_cuadradas * 0.00020661157
    centimetros_cuadrados = yardas_cuadradas * 8361.2736

    if unidad_destino == "metros cuadrados":
        return metros_cuadrados
    elif unidad_destino == "pulgadas cuadradas":
        return pulgadas_cuadradas
    elif unidad_destino == "acres":
        return acres
    elif unidad_destino == "centímetros cuadrados":
        return centimetros_cuadrados
    else:
        return "Unidad de destino no válida"

# Ingreso de yardas cuadradas y unidad de destino
yardas_cuadradas = float(input("Ingresa la cantidad de

In [ ]:
# Función para convertir metros cuadrados a otras unidades de área
def convertir_metros_cuadrados(metros_cuadrados, unidad_destino):
    # 1 metro cuadrado (m²) = 10.7639 pies cuadrados (ft²)
    # 1 metro cuadrado (m²) = 1550.0031 pulgadas cuadradas (in²)
    # 1 metro cuadrado (m²) = 0.000247 acres
    # 1 metro cuadrado (m²) = 10000 centímetros cuadrados (cm²)

    pies_cuadrados = metros_cuadrados * 10.7639
    pulgadas_cuadradas = metros_cuadrados * 1550.0031
    acres = metros_cuadrados * 0.000247
    centimetros_cuadrados = metros_cuadrados * 10000

    if unidad_destino == "pies cuadrados":
        return pies_cuadrados
    elif unidad_destino == "pulgadas cuadradas":
        return pulgadas_cuadradas
    elif unidad_destino == "acres":
        return acres
    elif unidad_destino == "centímetros cuadrados":
        return centimetros_cuadrados
    else:
        return "Unidad de destino no válida"

# Ingreso de metros cuadrados y unidad de destino
metros_cuadrados = float(input("Ingresa la cantidad de metros cuadrados: "))
unidad_destino = input("Ingresa la unidad de destino (pies cuadrados, pulgadas cuadradas, acres, centímetros cuadrados): ")

# Llamada a la función de conversión
resultado = convertir_metros_cuadrados(metros_cuadrados, unidad_destino)

# Mostrar resultado
print(f"{metros_cuadrados} metros cuadrados son aproximadamente {resultado} {unidad_destino}")

In [ ]:
# Crear una lista vacía para almacenar las tareas
tareas = []

# Función para agregar una tarea a la lista
def agregar_tarea():
    tarea = input("Ingrese la nueva tarea: ")
    tareas.append(tarea)
    print("Tarea agregada.")

# Función para eliminar una tarea de la lista
def eliminar_tarea():
    if len(tareas) == 0:
        print("La lista de tareas está vacía.")
    else:
        print("Lista de tareas:")
        for i, tarea in enumerate(tareas):
            print(f"{i + 1}. {tarea}")

        numero_tarea = int(input("Ingrese el número de la tarea que desea eliminar: ")) - 1

        if 0 <= numero_tarea < len(tareas):
            tarea_eliminada = tareas.pop(numero_tarea)
            print(f"Tarea '{tarea_eliminada}' eliminada.")
        else:

In [ ]:
# Función para convertir manzanas de kilogramos a libras
def kilogramos_a_libras(kilogramos):
    libras = kilogramos * 2.20462
    return libras

# Función para convertir manzanas de libras a kilogramos
def libras_a_kilogramos(libras):
    kilogramos = libras / 2.20462
    return kilogramos

# Pide al usuario que ingrese la cantidad de manzanas en kilogramos
kilogramos = float(input("Ingresa la cantidad de manzanas en kilogramos: "))

# Realiza la conversión
libras = kilogramos_a_libras(kilogramos)

# Muestra el resultado
print(f"{kilogramos} kilogramos equivale a {libras} libras.")

# Pide al usuario que ingrese la cantidad de manzanas en libras
libras = float(input("Ingresa la cantidad de manzanas en libras: "))

# Realiza la conversión
kilogramos = libras_a_kilogramos(libras)

# Muestra el resultado
print(f"{libras} libras equivale a {kilogramos} kilogramos.")

In [ ]:
# Función para convertir hectáreas a acres
def hectareas_a_acres(hectareas):
    acres = hectareas * 2.47105
    return acres

# Función para convertir hectáreas a metros cuadrados
def hectareas_a_metros_cuadrados(hectareas):
    metros_cuadrados = hectareas * 10000
    return metros_cuadrados

# Función para convertir hectáreas a kilómetros cuadrados
def hectareas_a_kilometros_cuadrados(hectareas):
    kilometros_cuadrados = hectareas / 100
    return kilometros_cuadrados

# Pide al usuario que ingrese la cantidad de hectáreas
hectareas = float(input("Ingresa la cantidad de hectáreas: "))

# Realiza las conversiones
acres = hectareas_a_acres(hectareas)
metros_cuadrados = hectareas_a_metros_cuadrados(hectareas)
kilometros_cuadrados = hectareas_a_kilometros_cuadrados(hectareas)

# Muestra los resultados
print(f"{hectareas} hectáreas equivale a:")
print(f"{acres} acres")
print(f"{metros_cuadrados} metros cuadrados")
print(f"{kilometros_cuadrados} kilómetros cuadrados")

In [ ]:
def calcular_impuesto(monto):
    tabla = [
        (0.01, 500, 1.5, 0),
        (500.01, 1000, 1.5, 3),
        (1000.01, 2000, 3, 3),
        (2000.01, 3000, 6, 3),
        (3000.01, 6000, 9, 2),
        (6000.01, 8000, 15, 2),
        (8000.01, 18000, 39, 2),
        (18000.01, 30000, 63, 1),
        (30000.01, 60000, 93, 0.8),
        (60000.01, 100000, 125, 0.7),
        (100000.01, 200000, 195, 0.6),
        (200000.01, 300000, 255, 0.45)
    ]

    impuesto = 0

    for rango in tabla:
        desde, hasta, porcentaje, adicional = rango
        if monto <= hasta:
            impuesto += (monto - desde) * porcentaje / 100 + adicional
            break
        else:
            impuesto += (hasta - desde) * porcentaje / 100 + adicional

    return impuesto

monto = float(input("Introduce el monto de la actividad económica: "))
impuesto = calcular_impuesto(monto)
print(f"El impuesto a pagar es: {impuesto:.2f}")

In [ ]:
def cajero_automatico():
    # Definir los valores de los billetes y monedas disponibles
    billetes = [100, 50, 20, 10, 5, 1]
    monedas = [0.5, 0.25, 0.1, 0.05, 0.01]

    # Solicitar al usuario la cantidad a retirar
    cantidad = float(input("Ingrese la cantidad a retirar: "))

    # Inicializar contadores para billetes y monedas
    billete_count = [0, 0, 0, 0, 0, 0]
    moneda_count = [0, 0, 0, 0, 0]

    # Calcular los billetes necesarios
    for i in range(len(billetes)):
        while cantidad >= billetes[i]:
            cantidad -= billetes[i]
            billete_count[i] += 1

    # Calcular las monedas necesarias
    for i in range(len(monedas)):
        while cantidad >= monedas[i]:
            cantidad -= monedas[i]
            moneda_count[i] += 1

    # Imprimir los billetes y monedas entregados
    print("Billetes:")
    for i in range(len(billetes)):
        if billete_count[i] > 0:
            print(f"{billete_count[i]} billetes de ${billetes[i]}")

    print("\nMonedas:")
    for i in range(len(monedas)):
        if moneda_count[i] > 0:
            print(f"{moneda_count[i]} monedas de ${monedas[i]}")

# Llamar a la función para simular el cajero automático
cajero_automatico()

In [ ]:
# Función para convertir metros cuadrados a otras unidades de área
def convertir_metros_cuadrados(metros_cuadrados):
    acres = metros_cuadrados / 4046.86
    pies_cuadrados = metros_cuadrados * 10.7639
    hectareas = metros_cuadrados / 10000
    return acres, pies_cuadrados, hectareas

# Ingresa la cantidad en metros cuadrados que deseas convertir
metros_cuadrados = float(input("Ingresa la cantidad en metros cuadrados: "))

# Llama a la función de conversión
acres, pies_cuadrados, hectareas = convertir_metros_cuadrados(metros_cuadrados)

# Muestra los resultados
print(f"{metros_cuadrados} metros cuadrados son equivalentes a:")
print(f"{acres} acres")
print(f"{pies_cuadrados} pies cuadrados")
print(f"{hectareas} hectáreas")

Ingresa la cantidad en metros cuadrados: 1
1.0 metros cuadrados son equivalentes a:
0.00024710516301527604 acres
10.7639 pies cuadrados
0.0001 hectáreas